@import "tailwindcss";

@theme {
  --base-content-size: 1440px;
  --content-size: 1140px;
  --gradient-blue: radial-gradient(
    104.16% 99.41% at 106.16% 102.59%,
    #2b7fff 0%,
    rgba(6, 182, 216, 0.3) 37.5%,
    #bedbff 69.71%,
    #fff 97.12%
  );
  --gradient-red: radial-gradient(
    104.16% 99.41% at 106.16% 102.59%,
    #d56a7c 0%,
    rgba(226, 182, 189, 0.4) 37.5%,
    rgba(247, 191, 105, 0.3) 69.71%,
    #fff 97.12%
  );
  --gradient-bili:
    linear-gradient(
      102deg,
      rgba(231, 127, 92, 0.6) 10.2%,
      #f36279 30.11%,
      rgba(247, 191, 105, 0.8) 76.45%,
      rgba(255, 255, 255, 0.5) 119.15%
    ),
    #f9eae5;

  --animate-appear: slide-up 300ms ease-in-out forwards;
  --animate-orb: rotate-gradient 8s linear infinite;

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes rotate-gradient {
    from {
      --gradient-angle: 180deg;
    }
    to {
      --gradient-angle: 540deg;
    }
  }
}

@utility grid-layout {
  grid-template-columns:
    1fr min(var(--content-size, var(--base-content-size)), 100%)
    1fr;
  & > * {
    grid-column: 2;
  }
}

@layer components {
  .gradient-bili {
    background-image: var(--gradient-bili);
  }

  .ai-orb {
    animation: rotate-gradient 8s linear infinite;
  }

  .tooltip {
    @apply absolute rounded-lg bg-gray-800 px-3 py-1.5 text-sm font-semibold text-white shadow-lg;
    @apply pointer-events-none transition-opacity duration-300 ease-in-out;

    bottom: anchor(top);
    right: anchor(left);
    transform: translateY(-0.75rem) translateX(1.5rem);

    &::after {
      content: "";
      @apply absolute top-full left-4/5 -translate-x-1/2 border-6;
      border-color: theme("colors.gray.800") transparent transparent transparent;
    }
  }

  .gradient-red {
    &::before {
      background-image: var(--gradient-red);
    }
  }
  .gradient-blue {
    &::before {
      background-image: var(--gradient-blue);
    }
  }

  .hero-title {
    font-family: var(--font-main);
    font-size: theme("fontSize.7xl");
    font-weight: theme("fontWeight.semibold");
    line-height: 1.6;
    @media (max-width: 1024px) {
      font-size: theme("fontSize.3xl");
    }
  }

  .hero-subtitle {
    font-family: var(--font-main);
    font-size: theme("fontSize.6xl");
    font-weight: theme("fontWeight.medium");
    line-height: 1.55;
  }

  .heading {
    font-family: var(--font-main);
    font-size: theme("fontSize.5xl");
    font-weight: theme("fontWeight.bold");
    line-height: 1.45;
  }

  .subheading {
    font-family: var(--font-main);
    font-size: theme("fontSize.4xl");
    font-weight: theme("fontWeight.extralight");
    line-height: 1.45;
  }

  .title {
    font-family: var(--font-main);
    font-size: theme("fontSize.3xl");
    font-weight: theme("fontWeight.bold");
    line-height: theme("lineHeight.normal");
  }

  .subtitle {
    font-family: var(--font-main);
    font-size: theme("fontSize.2xl");
    font-weight: theme("fontWeight.light");
    line-height: theme("lineHeight.normal");
  }`

  .body {
    font-family: var(--font-main);
    font-size: theme("fontSize.base");
    font-weight: theme("fontWeight.normal");
    line-height: 1.5;
  }

  .small {
    font-family: var(--font-main);
    font-size: 0.8rem;
    font-weight: theme("fontWeight.normal");
    line-height: 1.35;
  }
}
